body.container-fluid {
  background-color: #404a59;
  color: #eee;
}

/*
 * Homepage
 *
 * Tweaks to the custom homepage and the masthead (main jumbotron).
 */
.bs-docs-masthead  {
  position: relative;
  padding: 30px 0;
  color: #cdbfe3;
  text-align: center;
  text-shadow: 0 1px 0 rgba(0,0,0,.1);
  background-color: #6f5499;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#563d7c), to(#6f5499));
  background-image: -webkit-linear-gradient(top, #563d7c 0%, #6f5499 100%);
  background-image:      -o-linear-gradient(top, #563d7c 0%, #6f5499 100%);
  background-image:         linear-gradient(to bottom, #563d7c 0%, #6f5499 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#563d7c', endColorstr='#6F5499', GradientType=0);
  background-repeat: repeat-x;
}
/* Masthead (headings and download button) */
.bs-docs-masthead h1 {
  font-weight: 300;
  line-height: 1;
  color: #fff;
}
.bs-docs-masthead .lead {
  margin: 0 auto 30px;
  font-size: 20px;
  color: #fff;
}

.bs-docs-masthead .btn {
  width: 100%;
  padding: 15px 30px;
  margin: 10px;
  font-size: 20px;
}

@media (min-width: 480px) {
  .bs-docs-masthead .btn {
    width: auto;
  }
}

@media (min-width: 768px) {
  .bs-docs-masthead {
    padding: 220px 0;
  }
  .bs-docs-masthead h1 {
    font-size: 60px;
  }
  .bs-docs-masthead .lead {
    font-size: 24px;
  }
}

@media (min-width: 992px) {
  .bs-docs-masthead .lead {
    width: 80%;
    font-size: 30px;
  }
}

/* Outline button for use within the docs */
.btn-outline {
  color: #563d7c;
  background-color: transparent;
  border-color: #563d7c;
}
.btn-outline:hover,
.btn-outline:focus,
.btn-outline:active {
  color: #fff;
  background-color: #563d7c;
  border-color: #563d7c;
}
/* Inverted outline button (white on dark) */
.btn-outline-inverse {
  color: #fff;
  background-color: transparent;
  border-color: #cdbfe3;
}
.btn-outline-inverse:hover,
.btn-outline-inverse:focus,
.btn-outline-inverse:active {
  color: #563d7c;
  text-shadow: none;
  background-color: #fff;
  border-color: #fff;
}


.title  {
  position: relative;
  padding: 10px 0;
  color: #0d8fe3;
  text-align: center;
  text-shadow: 0 1px 0 rgba(0,0,0,.1);
}

body.container-fluid .title {
  color: #eee;
}

.nav li {
  font-size: 16px;
  border:1px solid;
  border-radius:5px;
}

.console  {
  position: relative;
  padding: 30px 15px;
  color: #0d8fe3;
  text-align: center;
  text-shadow: 0 1px 0 rgba(0,0,0,.1);
  background-color: #e4eAfB;
  border:1px solid;
  border-radius:25px;
  min-height: 350px;
}

.console img {
    display: block;
    margin: auto;
    width: 99%;
}

.console .btn {
  padding: 15px 15px;
  margin: 5px;
  font-size: 20px;
  width: 140px;
}


.statistic-wrapper h4 {
  font-size: 18px;
  font-weight:bold;
}

.statistic-wrapper dd {
  font-size: 32px;
  margin-top: 20px;
  margin-bottom: 5px;
} 

.text_column {
  position: absolute; top: 100px; right: 0px;
  float : right;
}

.chart_column {
  position: absolute; top: 100px;
  float : left;
}

.screenshot_column {
  position: absolute; top: 200px; left: 20%;
  float : left;
}

.long_chart {
  position: absolute; top: 888px;
  float : left;
}



#reset-button {
  margin: 20px 5px;
}

.btn-circle {
  width: 50px;
  height: 50px;
  text-align: center;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
}

@keyframes alarm-color {
    0%   {background-color: yellow;}
    100% {background-color: red;}
}

.modal-content {
    background-color: yellow;
    animation-name: alarm-color;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

.modal {
    width: 1000px;
    height: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -200px;
    margin-left: -500px;
    padding: 20px;
    text-align: center;
}

.modal-content {
  padding: 25px;
}

h1.alarm {
  font-size: 42px;
  font-weight: bold;
}

@keyframes alarm-light-color {
    0%   {fill: yellow;}
    100% {fill: red;}
}

#alarm-light path {
    fill: yellow;
    animation-name: alarm-light-color;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

#alarm-light {
  height : 36px;
  width: 36px;
  vertical-align: text-bottom;
}

.defense .fa-wrench {
  color: #337ab7;
} 
.text_column > .intro,.text_column > .alarm,.text_column > .defense {
	border: 1px dashed lightblue;
	border-radius: 10px;
	padding: 10px;
	margin: 30px 0;
	min-height: 200px; 
}
.text_column h2 {
	margin-bottom: 30px;
}
.text_column .label {
    padding: .4em .6em .3em;
    font-size: 85%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    border-radius: 1em;
}

.text_column p {
	font-size: 18px;
}

.text_column > .alarm {
	color: red;
}


#terminal {
	font-family: courier, fixed;
	font-size: 16px;
}
.typewriter {
	white-space: pre-wrap;
	margin-right: -6px;
}
.cursor {
  background: #777;
}
#correct_mark {
	position: absolute; float : left; top : 5px; left: 250px;
	font-size: 196px;
}
 
 
/* animate css */
#alarm_title {
  -webkit-animation-duration: 2s;
  /*-webkit-animation-delay: 2s;
  -webkit-animation-iteration-count: 2;*/
}