<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">

  <display-name>Network Attack and Defense Exercise</display-name>
  <servlet>
    <servlet-name>Console</servlet-name>
    <servlet-class>com.bochum.nade.servlet.ConsoleServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Dashboard</servlet-name>
    <servlet-class>com.bochum.nade.servlet.DashboardServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>SubjectAPI</servlet-name>
    <servlet-class>com.bochum.nade.api.SubjectServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DdosAPI</servlet-name>
    <servlet-class>com.bochum.nade.api.DdosServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>VirusAPI</servlet-name>
    <servlet-class>com.bochum.nade.api.VirusServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>WebPageAPI</servlet-name>
    <servlet-class>com.bochum.nade.api.WebPageServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DnsAPI</servlet-name>
    <servlet-class>com.bochum.nade.api.DnsServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>Console</servlet-name>
    <url-pattern>/console</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Dashboard</servlet-name>
    <url-pattern>/dashboard</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>SubjectAPI</servlet-name>
    <url-pattern>/api/subject.json</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DdosAPI</servlet-name>
    <url-pattern>/api/ddos.json</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>VirusAPI</servlet-name>
    <url-pattern>/api/virus.json</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>WebPageAPI</servlet-name>
    <url-pattern>/api/webpage.json</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DnsAPI</servlet-name>
    <url-pattern>/api/dns.json</url-pattern>
  </servlet-mapping>
</web-app>
